.top-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('public/images/banner.png');

    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    padding-top: 30px;
    padding-bottom: 100px;
    display: flex;
    color: white;
    position: relative;
    text-align: center;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-position: center;
}

.top-title {
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1.3em;
    border-style: solid;
    border-color: #FFFFFF;
    padding: 15px 0px 0px 0px;
    background-color: #030303;
    border-width: 4px 4px 4px 4px;
    border-radius: 20px 20px 20px 20px;
}

.pdt {
    padding-top: 20px;
}

.sub-title {
    font-size: 25px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 35px;
    line-height: 1.3em;
    font-family: "Hind Siliguri",
}

.logo-top {
    margin-top: 30px;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.order-btn-c {
    font-family: "Hind Siliguri",
        Sans-serif;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    border-style: solid;
    text-decoration: none;
    background-color: #FF7400;
    padding: 20px 50px 20px 50px;
    border-width: 4px 4px 4px 4px;
    border-radius: 30px 30px 30px 30px;
}

.order-btn-c:hover {
    background-color: #028309;
}

.order-btn-d {
    font-family: "Hind Siliguri",
        Sans-serif;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    border-style: solid;
    text-decoration: none;
    border-color: #000000;
    background-color: #FF7400;
    padding: 20px 50px 20px 50px;
    border-width: 4px 4px 4px 4px;
    border-radius: 30px 30px 30px 30px;
}

.order-btn-d:hover {
    background-color: #028309;
}

.top-title-b {
    width: 40%;
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1.3em;
    border-style: solid;
    padding: 15px 0px 0px 0px;
    background-color: #030303;
    border-radius: 20px 20px 20px 20px;
}

.seb-title {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 1px 0px;
    background-color: #4C677CAD;
    border-style: solid;
    border-color: #000000;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    text-align: center;
}

.border-a {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s,
        border 0.3s,
        border-radius 0.3s,
        box-shadow 0.3s;
    padding: 30px 10px 0px 10px;

}

.tx-c {
    text-align: center;
    font-family: "Hind Siliguri",
        Sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #FFFFFF;
}

.tx-d {
    text-align: center;
    font-family: "Hind Siliguri",
        Sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: black;
}

.tx-e {
    color: #000000;
    font-family: "Hind Siliguri",
        Sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
}

.check-mark {
    color: green;
    font-size: 24px;
    font-weight: 900;
}

.pd-b {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pd-bc {
    padding-bottom: 50px;
}

.pd-v {
    padding-top: 30px;
    padding-bottom: 17px;
    height: 75vh;
    width: 100%;
}

.pd {
    padding-top: 37px;
}

.pd-c {
    padding-top: 37px;
}

.pd-cd {
    padding-top: 37px;
}

.clb-g {
    background-color: #2C8A982B;
    padding-top: 10px;
    height: 565px;
}

.clb {
    background-color: #2C8A982B;
    padding-top: 10px;
}

.clb-size {
    background-color: #2C8A982B;
    padding-top: 40px;
}

.pd-bt {
    padding-bottom: 70px;
}

.bgc {
    background-color: #2C8A982B;
}

.title-d {
    color: #000000;
    text-align: center;
    border-style: solid;
    box-sizing: border-box;
    border-color: #000000;
    background-color: #4C677CAD;
    font-family: "Hind Siliguri",
        Sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding: 15px 0px 10px 0px;
    border-width: 4px 4px 4px 4px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.title-e {

    color: #000000;
    text-align: center;
    border-style: solid;
    box-sizing: border-box;
    border-color: #000000;
    background-color: #4C677CAD;
    font-family: "Hind Siliguri",
        Sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding: 15px 0px 10px 0px;
    border-width: 4px 4px 4px 4px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.title-h {
    border-style: solid;
    border-color: #000000;
    background-color: #4C677CAD;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 1px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

}

.se-img {
    transition: background 0.3s,
        border 0.3s,
        border-radius 0.3s,
        box-shadow 0.3s;
    display: flex;
    border-style: solid;
    padding: 30px 0px 30px 0px;
    border-width: 2px 2px 2px 2px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.tx-p {
    color: #000000;
    font-family: "Hind Siliguri",
        Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    padding-left: 10px;
}

.img-lf {
    flex-wrap: wrap;
    position: relative;
    align-content: flex-start;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.img-lf-size {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding-top: 30px;
    padding-bottom: 40px;

}

.sp {
    color: #fff;
}

.card-bx {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 15px;
}

.ard-bx {
    width: 25%;
}

.dis-d {
    font-family: "Hind Siliguri",
        Sans-serif;
    color: #000000;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3em;
}

.crd {
    text-align: center;
    padding: 20px 5px 20px 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.ct-a {
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #CEC7DFAD;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 50px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.ct-b {
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #CEC7DFAD;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 50px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.ct-n {
    display: flex;
    align-content: flex-start;
    background-color: #CEC7DFAD;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 50px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.prc {
    text-align: center;
    border-style: solid;
    border-color: #000000;
    background-color: #000000;
    width: 100%;
    padding: 12px 0px 8px 0px;
    border-width: 2px 2px 2px 2px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card-image {
    width: 22%;
    margin-bottom: 10px;
}

.sec-4 {
    padding: 42px 5px 20px 5px;
}

.sec-or {
    padding: 40px;
}

.title-size {
    text-align: center;
    border-style: solid;
    border-color: #000000;
    background-color: #000000;
    padding: 12px 0px 8px 0px;
    border-width: 2px 2px 2px 2px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.order-form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-style: solid;
    align-content: flex-start;
    transition: background 0.3s,
        border 0.3s,
        border-radius 0.3s,
        box-shadow 0.3s;
    width: 100%;
    padding: 30px 30px 30px 30px;
    border-width: 2px 2px 2px 2px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.order-title {

    border-style: solid;
    border-color: #000000;
    background-color: #007F0A;
    padding: 15px 0px 10px 0px;
    border-width: 4px 4px 4px 4px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.dg-title {
    color: #FFFFFF;
    font-family: "Hind Siliguri",
        Sans-serif;
    margin: 0;
    line-height: 1;
    font-size: 32px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}

.title-oc {
    overflow: hidden;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.1em;
    padding-top: 10px;
}

.card-a {
    cursor: pointer;
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #b0b0b0;
    font-size: 1em;
    font-weight: 600;
    padding: 20px 30px;
    margin: 0 10px 22px;
    border-radius: 0.35em;
    width: calc(50% - 20px);
}

.input-a {
    clear: none;
    color: #555;
    cursor: pointer;
    text-align: center;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #b4b9be;
    transition: 0.05s border-color ease-in-out;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    outline: 0;
    width: 16px;
    height: 16px;
    line-height: 0;
    min-width: 16px;
    border-radius: 50%;
    margin: -4px 4px 0 0;
    padding: 0 !important;
}

.img-v {
    width: 80px;
    margin-right: 15px;
}

.c-bd {
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 50px 0px;
    background-color: #CEC7DFAD;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.p-title {
    color: #FFFFFF;
    font-family: "Hind Siliguri",
        Sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3em;
}

.rs {
    color: #FFFFFF;
    border-style: solid;
    border-color: #000000;
    background-color: #000000;
    width: 600px;
    padding: 15px;
    font-size: 32px;
    font-weight: 700;
    border-width: 2px 2px 2px 2px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.rt {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 575px) {
    .rs {
        width: 300px;
    }

    .top-title-b {
        width: 300px;
    }

    .top-title {
        font-size: 17px;
        line-height: 1.3em;
        text-decoration: none;
        padding: 10px 10px 1px 3px;
    }

    .sub-title {
        font-size: 17px;
        padding-top: 35px;
        text-decoration: none;
    }

    .logo-top {
        width: 85px;
        margin-top: 30px;
    }

    .bt-a {
        font-size: 20px;
        padding: 10px 40px 10px 40px;
    }

    .top-section {
        padding-bottom: 60px;
    }

    .tx-e {
        font-size: 15px;
        padding-top: 17px;
        line-height: 35px;
    }

    .order-btn-d {
        font-size: 20px;
        padding: 10px 40px 10px 40px;
    }

    .title-d {
        font-size: 25px;
        line-height: 1.3em;
    }

    .sec-4 {
        padding: 3px 5px 2px 5px;
    }

    .dis-d {
        font-size: 17px !important;
    }

    .re-bt {
        padding: 0px;
        margin-top: 0px;
    }

    .pd-bc {
        padding-bottom: 40px;
    }

    .pd-bt {
        padding-bottom: 50px;
    }

    .tdr {
        padding: 0px 20px 0px 20px;
    }

}

.tx-r {
    color: #FF0000;
    font-weight: 600;
}

.tx-bl {
    color: #000000;
    font-weight: 700;
}





.title-sa {

    color: whitesmoke;
    text-align: center;
    border-style: solid;
    box-sizing: border-box;
    border-color: #000000;
    background-color: green;
    font-family: "Hind Siliguri",
    Sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding: 15px 0px 10px 0px;
    border-width: 4px 4px 4px 4px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.sa-border {
    transition: background 0.3s,
    box-shadow 0.3s;
    border-style: solid;
    border-radius: 30px;
    padding: 30px 20px 30px 20px;
    border-width: 2px 2px 2px 2px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


.demo-card {
    margin: 0px 0px 0px 0px;
    padding: 20px 10px 20px 10px;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.bill-dtl {
    margin: 0px 0px 0px 0px;
    padding: 20px 10px 20px 10px;
    background-color: #fff;

}

.dash{
    border: 0 none;
    border-top: 2px dashed #322f32;
    background: none;
    height:0;
  }



  
  .quantity {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .quantity button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: auto;
    text-align: center;
    transition: background-color 0.2s;
  }
  
  .quantity button:hover {
    background-color: #2980b9;
  }
  
  .input-box {
    width: 40px;
    text-align: center;
    border: none;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;
  }
  
  /* Hide the number input spin buttons */
  .input-box::-webkit-inner-spin-button,
  .input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .input-box[type="number"] {
    -moz-appearance: textfield;
  }
  
  ::-webkit-input-placeholder {
    font-size: 12px;
 }
 .form-text{
    font-size: 11px;
 }

/* ulcheckmark */

 ul.checkmark li {
    font-size: 16px;
    margin-bottom: 1em;
    list-style-type: none;
    padding: 0.25em 0 0 2.5em;
    position: relative;
  }
  ul.checkmark li:before {
    content: " ";
    display: block;
    border: solid 0.8em orange;
    border-radius: 0.8em;
    height: 0;
    width: 0;
    position: absolute;
    left: 0.5em;
    top: 40%;
    margin-top: -0.5em;
  }
  ul.checkmark li:after {
    content: " ";
    display: block;
    width: 0.3em;
    height: 0.6em;
    border: solid #fff;
    border-width: 0 0.2em 0.2em 0;
    position: absolute;
    left: 1em;
    top: 40%;
    margin-top: -0.2em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* ulcheckmark */


  .form-check-input{
    border: 2px solid #ff9100;
  }


 